# Ignore macOS system files
.DS_Store

# Ignore node modules
node_modules/

# Ignore log files
*.log

# Ignore build output
dist/
build/

# Ignore environment files
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore Visual Studio Code settings
.vscode/
